@model IEnumerable<Lab5_TH.Models.Major>

<div class="card mb-4">
    <div class="card-header">
        <h5 class="mb-0">Filter by Major</h5>
    </div>
    <div class="card-body">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action active"
               onclick="filterByMajor(0)">All Majors</a>
            @foreach (var major in Model)
            {
                <a href="#" class="list-group-item list-group-item-action"
                   onclick="filterByMajor(@major.MajorID)"
                   id="major-@major.MajorID">@major.MajorName</a>
            }
        </div>
    </div>
</div>